name: "Basic Action"

on: 
    push:
        branches:
            main

jobs:
    hello-world:
        runs-on: ubuntu-latest
        steps:
            - name: "say-hello-world"
              run: echo "Hello World"
    
            
